# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Old frameworks no longer used
whisper.xcframework/
